body
{
	background-color: #FFFFFF;
	/*background-image: url("Background 3.jpg"); */
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 1500px;
}

.jumbotron 
{
	background-color: #9999ff;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	color: White;
	text-align: center;
}

h1
{
	font-family: 'Josefin Sans', sans-serif;
}

/*.btn
{
	height: 70px;
	width: 700px;
}*/